<a href="#" onclick="document.getElementById('admin_chapter_<%= chapter.id %>').style.display='block'; return false;">Chapter options &rarr;</a>

<ul id="admin_chapter_<%= chapter.id %>" class="admin">
  <li><%= link_to 'New page',            new_page_path(chapter) %></li>
  <li><%= link_to 'Edit chapter title',  edit_chapter_path(chapter) %></li>
  <li><%= link_to 'Create sub chapter',  new_sub_chapter_path(chapter.book, chapter) %></li>
  <li><%= link_to 'Delete this chapter', delete_chapter_path(chapter), :confirm => 'Are you sure?' %></li>

  <li>Move <%= list_link 'up', chapter %> <%= list_link 'down', chapter %>
           <%= list_link 'top', chapter %> <%= list_link 'bottom', chapter %></li>
</ul>
