<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= "#{@book.title} | " if @book %> RubyGems Manuals</title>
    <link rel="alternate stylesheet" title="dark" href="/stylesheets/dark.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/more.css" type="text/css">

    <link rel="alternate" type="application/rss+xml"  title="Recent changes (RSS 2.0)"  href="<%= rss_feed_path %>">
    <link rel="alternate" type="application/atom+xml" title="Recent changes (Atom 0.3)" href="<%= atom_feed_path %>">

<% if author? then -%>
    <script type="text/javascript" src="/javascripts/markup.js"></script>
<% end -%>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10880459-1");
        pageTracker._trackPageview();
      } catch(err) {}
      </script>
  </head>
  <body>
    <div id="container">
      <img src="/images/rubygems-125x125t.png" style="float:left">
      <div id="header">
        <h1><%= link_to 'RubyGems Manuals', shelf_path %></h1>
        <p class="tagline"><%= book_title_or_tagline "Your guide to packaging bliss"  %></p>
        <ul id="navMain">
<li class="first-child current"><%= link_to 'Manuals', shelf_path %></li>
<% if @book then -%>
<li><%= link_to 'Current Book', book_path(@book), :title => @book.title %></li>
<% end -%>
<li><a href="http://rubyforge.org/frs/?group_id=126">Downloads</a></li>
<li><a href="http://rubygems.rubyforge.org/rubygems-update/">API Documentation</a></li>
        </ul>

        <div id="navAuthor"><%= author_welcomeline %></div>
      </div><!-- #header -->

      <div id="sidebar">
<% if @book then -%>
<h2>Chapters</h2>
<ol>
<%= render_navigation @book %>
</ol>
<br>
<br>
<h2>Options</h2>

<%= link_to 'exports', export_book_path(@book) %><br>
<% else -%>
<h2>Welcome</h2>
<% end -%>

<%= link_to 'recent changes', recent_path %><br>
<%= link_to 'rss 2.0', rss_feed_path %> |
<%= link_to 'atom', atom_feed_path %>

<br>
<br>

<h2>Authors</h2>

<% if author? then -%>
<%=  link_to 'Approve users', approve_path %><br>
<%=  link_to 'Create book', new_book_path %><br>
<%   if @book then -%>
<%=    link_to 'Append chapter', new_chapter_path(@book) %><br>
<%   end -%>
<%   if @chapter then -%>
<%=    link_to 'Append page', new_page_path(@chapter) %><br>
<%   end -%>
<% else -%>
<%=  link_to 'Login',  login_path %>
<%=  link_to 'Signup', signup_path %>
<% end -%>
      </div><!-- #sidebar -->

      <div id="content">
<%= @content_for_layout %>
      </div><!-- #content -->

    </div><!-- #container -->
  </body>
</html>
