<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= "#{@book.title} | " if @book %> RubyGems Manuals</title>
    <link rel="alternate stylesheet" title="dark" href="/stylesheets/dark.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/forms.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/more.css" type="text/css">

    <link rel="alternate" type="application/rss+xml"  title="Recent changes (RSS 2.0)"  href="<%= rss_feed_path %>">
    <link rel="alternate" type="application/atom+xml" title="Recent changes (Atom 0.3)" href="<%= atom_feed_path %>">

<% if author? then -%>
    <script type="text/javascript" src="/javascripts/markup.js"></script>
<% end -%>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10880459-1");
        pageTracker._trackPageview();
      } catch(err) {}
      </script>
  </head>
  <body>
    <div id="container">
      <img src="/images/rubygems-125x125t.png" align="left">
      <div id="header">
        <h1><%= link_to 'RubyGems Manuals', shelf_path %></h1>
        <p class="tagline"><%= book_title_or_tagline "Your guide to packaging bliss"  %></p>
        <ul id="navMain">
<%= render :partial => 'shared/top_navigation', :locals => { :book => @book } %>
        </ul>

        <div id="navAuthor"><%= author_welcomeline %></div>
      </div> <!-- #header -->

      <div id="sidebar">
<%= render :partial => 'shared/side_navigation',
           :locals => { :book => @book, :chapter => @chapter } %>
      </div> <!-- #sidebar -->

      <div id="content">
<%= @content_for_layout %>
      </div>

    </div> <!-- #container -->
  </body>
</html>
