<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= "#{@book.title} | " if @book %> RubyGems Manuals</title>
    <link rel="alternate stylesheet" title="dark" href="/stylesheets/dark.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/forms.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/more.css" type="text/css" />

    <link rel="alternate" type="application/rss+xml"  title="Recent changes (RSS 2.0)"  href="<%= url_for :controller => "syndicate", :action => "rss" %>" />
    <link rel="alternate" type="application/atom+xml" title="Recent changes (Atom 0.3)" href="<%= url_for :controller => "syndicate", :action => "atom" %>" />

<% if author? then -%>
    <script type="text/javascript" src="/javascripts/markup.js"></script>
<% end -%>
  </head>
  <body>
    <div id="container">
      <img src="/images/rubygems-125x125t.png" align="left">
      <div id="header">
        <h1><%= link_to "RubyGems Manuals", :controller => "shelf", :action =>"index" %></h1>
        <p class="tagline"><%= book_title_or_tagline "Your guide to packaging bliss"  %></p>
        <ul id="navMain">
<%= render :partial => 'shared/top_navigation', :locals => { :book => @book } %>
        </ul>

        <div id="navAuthor"><%= author_welcomeline %></div>
      </div> <!-- #header -->

      <div id="sidebar">
<%= render :partial => 'shared/side_navigation',
           :locals => { :book => @book, :chapter => @chapter } %>
      </div> <!-- #sidebar -->

      <div id="content">
<%= @content_for_layout %>
      </div>

    </div> <!-- #container -->
  </body>
</html>
